body {
    /*width: 1360px;
    margin: 0 auto; */
    background-image: url(../img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    margin: 0;
}

.container {
    padding: 49px 0 26px 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.content-layout {
    width: 1030px;
    margin: 0 auto;
}

.content-layout::after {
    content: "";
    display: table;
    clear: both;
}

.logo-header {
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.contacts-header {
    float: right;
}

.contacts-header-text {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 7px;
    text-align: right;
    margin-right: -30px;
}

.contacts-header-text:hover {
    color: #F26522;
}

.logo-header-img {
    display: block;
    width: 46px;
    height: 44px;
    background-image: url(../img/logo3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-header-text .milan {
    font-size: 1.6em;
}

.logo-header-img {
    float: left;
}

.logo-header-text {
    padding-left: 10px;
    overflow: auto;
}

.logo-header-inner-text {
    display: block;
}

.logo-header:hover {
    color: #F26522;
}

.logo-header:hover .logo-header-img {
    background-image: url(../img/logo2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section {
    box-sizing: content-box;
    margin-left: 0;
}

.section ul {
    padding: 0;
    margin: 0;
}

.section ul li {
    list-style: none;
    float: left;
    width: 300px;
    margin: 0 32px 48px 34px;
}

.section ul li:nth-child(1), .section ul li:nth-child(4) {
    margin: 0 32px 48px 0;
}

.section ul li:nth-child(3), .section ul li:nth-child(6) {
    margin: 0 0 48px 32px;
}

.gallery-item-wrap {
    color: white;
    text-decoration: none;
    line-height: 21px;
    display: block;
}

.gallery-item-title {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.image {
    vertical-align: top;
    max-width: 100%;
}

.gallery-item {
    position: relative;
    padding: 2px 0 0 2px;
    background: linear-gradient(to bottom, white, black);
}

.info-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #F26522;
    opacity: 0;
    padding: 5px 16px 10px;
    box-sizing: border-box;
    transition: opacity 0.8s;
}

.gallery-item-wrap:hover .info-panel {
    opacity: 1;
}

.gallery-item-wrap:hover .gallery-item-title{
    color: #F26522;
}

.info-panel p {
    margin: 0 0 6px;
    font-size: 10px;
}

.price {
    font-size: 20px;
    float: left;
}

.more {
    font-size: 14px;
    float: right;
}

.more::after {
    content: ">";
    margin-left: 8px;
}

.detail {
    overflow: hidden;
}

.section::after {
    content: "";
    display: table;
    clear: both;
}

.footer p {
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    margin: 0 0 15px 0;
}